.txtGray {
  color: #aab5bf;
}
.profile {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border: 2px solid;
  border-radius: 2%;
  background-color: #fff;
  align-items: center;
  text-align: center;
}

.photo {
  margin-top: 16px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.stats {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 42px;
  width: 100%;
  background-color: #f3f6f9;
  list-style: none;
}

.items {
  border: 1px solid;
  padding: 10px;
  width: 100%;
}
